body {
    background-color: #404040;
}

h1 {
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: #808080;
    border-radius: 8px;
    padding: 16px 0 0 0px; 
}

.sidebar_navigation .logo {
    background: #676767;
    display: flex;
    border-radius: 8px;
    padding: 7px 0 0 10px;
}

.logo img {
    width: 250px;

}

.sidebar nav ul {
    margin-top: 15px;
    padding: 0 10px 10px 20px;
}

.sidebar ul li {
    padding: 3px 0;
}

.sidebar nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    font-family: "DM Sans, sans-serif";
}